/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: Inter, sans-serif;
  font-weight: 400;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--font-family-main, Inter-Variable), sans-serif;
      font-variation-settings: 'wght' var(--font-weight-main, 400);
  }
}

.page__section {
  inline-size: var(--page-section-size, 50%);
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-block: 100px;
  background-color: #fff;
  padding-block: var(--padding-block-header, 120px);
  border: 2px solid #000;
}

.header__title {
  font-family: var(--font-family-accent, PressStart2P), sans-serif;
  font-size: var(--font-size-header-title, 65px);
  font-weight: 400;
  text-transform: uppercase;
}

.header__text {
  font-family: var(--font-family-accent, PressStart2P), sans-serif;
  font-size: var(--font-size-header-text, 23px);
  font-weight: 400;
  text-transform: uppercase;
}

.main {
  gap: 50px;
  display: flex;
  flex-direction: column;
}

.main__article {

}

.main__article-title {
  padding-inline: 10px;
  padding-block: 5px;
  border: 2px solid #000;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: var(--font-size-main, 18px);
}

@supports (font-variation-settings: normal) {
  .main__article-title {
      font-family: var(--font-family-main, Inter-Variable), sans-serif;
      font-variation-settings: 'wght' var(--font-weight-card-title, 700);
  }
}

.main__article-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main__article-content {
  padding-inline: 25px;
  padding-block: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 2px solid #000;
}

.main__article-text {
  line-height: var(--line-height-main, 21px);
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.card__icon-button {

}

.like-icon {

}

.card__like-button {

}

.button__text {

}

.floppy {
  inline-size: 29px;
  block-size: 28px;
}
