/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: Inter, sans-serif;
  font-weight: 400;
  background-color: #bdbbbb;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--font-family-main, Inter-Variable), sans-serif;
      font-variation-settings: 'wght' var(--font-weight-card-text, 400);
  }
}

.page__section {
  inline-size: var(--page-section-size, 50%);
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-block: 100px;
  background-color: #fff;
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  border: 2px solid #000;
}

.header__title {
  font-family: var(--font-family-accent, PressStart2P), sans-serif;
  font-size: var(--font-size-header-title, 65px);
  font-weight: 400;
  text-transform: uppercase;
}

.header__text {
  font-family: var(--font-family-accent, PressStart2P), sans-serif;
  font-size: var(--font-size-header-text, 23px);
  font-weight: 400;
  text-transform: uppercase;
}

.floppy {
  inline-size: 29px;
  block-size: 28px;
}
