/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main: Inter-Variable;
  --font-accent: PressStart2P;
  --font-weight-card-title: 700;
  --font-weight-card-text: 400;
}
